# Operating System Files
########################
*.DS_Store
Thumbs.db

# Logs and databases
#####################
*.log
*.sql
*.sqlite

# Build artifacts
#################
*.jar
*.war
*.ear

# IDE Files
###########
.idea/
*.iml
*.ipr
*.iws

# Compiled sources
##################
bin/
obj/

# Office Files
##############
*.xlsx
*.pptx

# NodeJS Modules
################
node_modules/

# React Build Artifacts
#######################
build/

# React Native dependencies
###########################
ios/build/
android/build/

# Other ignored files
#####################
.env
.env.*.local
.env.*.production
.env.test
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore all .babelrc files
############################
*.babelrc

# Ignore lockfiles
##################
yarn.lock
package-lock.json

# Ignore npm-related files
##########################
.npmrc
.npmignore

# Ignore Webpack Files
######################
webpack.config.js

# Ignore Visual Studio Code Settings
####################################
.vscode/

# Ignore MongoDB
###############
*.dump
*.log
 
